# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Selloze.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\_GITHUB_\Sellooze\src\.idea\.idea.Selloze\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
